body {
    font-family: "Open Sans", sans-serif;
}

.price-options-wrapper {
    display: flex;
    max-width: 1200px;
    margin: 40px auto;
    flex-wrap: wrap;
    justify-content: center;
}

.price-options-wrapper > div {
    max-width: 100%;
    width: 280px;
    min-width: calc(25% - 20px);
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 0 5px #ddd;
    margin: 10px;
    border-radius: 10px;
}

.price-options-wrapper > div > h1 {
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.price-options-wrapper > div > div > ul {
    list-style: none;
    text-align: left;
    color: #666;
}
